<tr>
    <td><%= geturlList.apiReturnCode%></td>
    <td><%= i18n.__('return order') %></td>
    <td><a class="lstUrl" data-pk="<%= geturlList.apiReturnCode +'_0'%>" data-index="0" data-value="<%= geturlList.apiPushOrderReturn%>"><%= geturlList.apiPushOrderReturn%></a></td>
</tr>
<tr>
    <td><%= geturlList.apiReturnCode%></td>
    <td><%= i18n.__('return split') %></td>
    <td><a class="lstUrl" data-pk="<%= geturlList.apiReturnCode +'_1'%>" data-index="1" data-value="<%= geturlList.apiPushSplitReturn%>"><%= geturlList.apiPushSplitReturn%></a></td>
</tr>
<tr>
    <td><%= geturlList.apiReturnCode%></td>
    <td><%= i18n.__('return roll') %></td>
    <td><a class="lstUrl" data-pk="<%= geturlList.apiReturnCode +'_2'%>" data-index="2" data-value="<%= geturlList.apiPushRollReturn%>"><%= geturlList.apiPushRollReturn%></a></td>
</tr>
