<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- meta -->
    <meta charset="utf-8"/>
    <meta name='description' content='<%= config.description %>'>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="<%= config.keywords %>"/>
    <meta name="referrer" content="always">
    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) {
    %>
    <%- headers[i] %>
    <% } %>
    <% if (config.site_icon) { %>
    <link rel="icon" href="<%= config.site_icon %>" type="image/x-icon"/>
    <% } %>

    <% if (typeof(pageTitle) !== 'undefined') { %>
    <title><%= i18n.__(pageTitle) %> - <%= i18n.__(config.name) %></title>
    <% } else { %>
    <title><%= i18n.__(config.name) %> - <%= i18n.__(config.comname) %></title>
    <% } %>


    <%- Loader('/public/css/notify.min.css')
    .css('/public/css/fonts-open-sans.css')
    .css('/public/css/fonts-oswald.css')
    .css('/public/vendors/font-awesome/css/font-awesome.min.css')
    .css('/public/vendors/bootstrap/css/bootstrap.min.css')
    .css('/public/vendors/animate.css/animate.css')
    .css('/public/css/themes/style1/green-red.css')
    .css('/public/css/style-responsive.css')
    .done(assets, config.site_static_host, config.mini_assets)
    %>

    <%- Loader('/public/js/notify.min.js')
    .js('/public/js/html5shiv.js')
    .js('/public/js/respond.min.js')
    .done(assets, config.site_static_host, config.mini_assets)
    %>
</head>
<body id="error-page" class="animated bounceInLeft">
    <%- body %>
</body>
</html>