<tr>
    <td><%= getOrderList.dateTime %></td>
    <!--<td><%= getOrderList.dateTimeJustHHmm %></td>-->
    <!--<td><%= getOrderList.designId %></td>-->
    <!--<td><%= getOrderList.factoryCode %></td>-->
    <!--<td><%= getOrderList.lineCode %></td>-->
    <td><%= getOrderList.customerCode %></td>
    <td><%= getOrderList.categoryName %></td>
    <!--<td><%= getOrderList.productCode %></td>-->
    <td><%= getOrderList.vdpType %></td>
    <td><%= getOrderList.orderId %></td>
    <td><%= getOrderList.fileName %></td>
    <td><%= getOrderList.planCount %></td>
    <td><%= getOrderList.actCount %></td>
    <td><%= getOrderList.sendState %></td>
</tr>
