<link type="text/css" rel="stylesheet" href="/public/vendors/x-editable/bootstrap3-editable/css/bootstrap-editable.css">
<link type="text/css" rel="stylesheet" href="/public/vendors/jquery-tablesorter/themes/blue/style-custom.css">
<link type="text/css" rel="stylesheet" href="/public/vendors/bootstrap-select/css/bootstrap-select.min.css">

<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title"><%= i18n.__('FTP') %></div>
    </div>
    <ol class="breadcrumb page-breadcrumb">
        <li><i class="fa fa-home"></i>&nbsp;<a href="/"><%= i18n.__('Index') %></a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li><%= i18n.__('System') %>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active"><%= i18n.__('FTP') %></li>
    </ol>
    <div class="clearfix"></div>
</div>

<div class="page-content">
    <div id="table-action" class="row">
        <div class="col-lg-12">
            <div id="tableactionTabContent" class="tab-content">
                <div id="table-table-tab" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="box-heading"><%= i18n.__('Create') %></h4>
                            <div class="table-container">
                                <% if(typeof(error) !== 'undefined' && error){ %>
                                <div class="note note-dbtest note-danger alert-dismissable">
                                    <strong id="notedbtitle"><%= i18n.__("failed")%>: </strong> <span id="notedbtext"><%= error %></span>
                                </div>
                                <% } %>
                                <% if(typeof(success) !== 'undefined' && success){ %>
                                <div class="note note-dbtest note-success alert-dismissable">
                                    <strong id="notedbtitle"><%= i18n.__("success")%>: </strong> <span id="notedbtext"><%= success %></span>
                                </div>
                                <% } %>
                                <form method='POST' class="form-validate-create">
                                    <input type='hidden' name='_csrf' value='<%= csrf %>'/>
                                    <div class="row mbm">
                                        <div class="col-lg-12">
                                            <div class="pagination-panel">
                                                <div class="col-lg-2">
                                                    <select class="selectpicker selecttype form-control" required>
                                                        <option value="des"><%= i18n.__('DES') %></option>
                                                        <option value="preprint"><%= i18n.__('preprint') %></option>
                                                        <option value="checkprint"><%= i18n.__('checkprint') %></option>
                                                        <option value="checkcanned"><%= i18n.__('checkcanned') %></option>
                                                        <option value="category"><%= i18n.__('category') %></option>
                                                    </select>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input name="ftpcode" id="ftpcode" type="text" maxlenght="25" placeholder="<%= i18n.__('ftp code') %>" class="form-control"/>
                                                    <div hidden class="selectcategory">
                                                        <select name="categorycode" class="selectpicker categorycode form-control">
                                                            <% if (typeof(categoryList) !== 'undefined' && categoryList.length > 0) { %>
                                                            <% categoryList.forEach(function (pair) { %>
                                                            <option data-content="<%=pair.name%>" value="<%=pair._id%>"><%=pair.name%></option>
                                                            <% }); %>
                                                            <% } else { %>
                                                            <option value=""><%= i18n.__('null data') %></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input name="ftphost" type="text" placeholder="<%= i18n.__('hostname') %>" class="form-control" required/>
                                                </div>
                                                <div class="col-lg-1">
                                                    <input name="ftpport" type="number" placeholder="<%= i18n.__('hostport') %>" class="form-control" value="21" required/>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input name="ftpuser" type="text" placeholder="<%= i18n.__('accname') %>" class="form-control" required/>
                                                </div>
                                                <div class="col-lg-2">
                                                    <input name="ftppass" type="password" placeholder="<%= i18n.__('accpwd') %>" class="form-control" required/>
                                                </div>
                                                <div class="col-lg-1">
                                                    <span id="processing" hidden><i class="fa fa-spinner fa-spin"></i><%= i18n.__('processing') %></span>
                                                    <button id="btnCreate" type="submit" class="btn btn-success btn-outlined"><%= i18n.__('Create') %></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                        <thead>
                                        <tr>
                                            <th width="15%"><%= i18n.__('ftp type') %></th>
                                            <th width="20%"><%= i18n.__('ftp code') %></th>
                                            <th width="20%"><%= i18n.__('hostname') %></th>
                                            <th width="10%"><%= i18n.__('hostport') %></th>
                                            <th width="15%"><%= i18n.__('accname') %></th>
                                            <th width="10%"><%= i18n.__('accpwd') %></th>
                                            <th width="10%"><%= i18n.__('Actions') %></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <% if (typeof(docList) !== 'undefined' && docList.length > 0) { %>
                                        <%- partial('ftp/list', { collection: docList, as: 'docList'}) %>
                                        <% } else { %>
                                        <td colspan="7"><%= i18n.__('null data') %></td>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/public/vendors/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="/public/vendors/jquery-tablesorter/jquery.tablesorter.js"></script>
<script src="/public/vendors/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>

<script>

    $(function () {

        $.fn.selectpicker.defaults = {
            noneSelectedText: '<%= i18n.__("noneSelectedText")%>',
            noneResultsText: '<%= i18n.__("noneResultsText")%>',
            countSelectedText: '<%= i18n.__("countSelectedText")%>',
            maxOptionsText: ['<%= i18n.__("maxOptionsText1")%>', '<%= i18n.__("maxOptionsText2")%>'],
            selectAllText: '<%= i18n.__("selectAllText")%>',
            deselectAllText: '<%= i18n.__("deselectAllText")%>',
            multipleSeparator: '<%= i18n.__("multipleSeparator")%>'
        };
        $.validator.messages = {
            required: "<%- i18n.__('This field is required')%>",
            remote: "<%- i18n.__('Please fix this field')%>",    // 自己定义
            email: "<%- i18n.__('Please enter a valid email address')%>",
            url: "<%- i18n.__('Please enter a valid URL')%>",
            date: "<%- i18n.__('Please enter a valid date')%>",
            dateISO: "<%- i18n.__('Please enter a valid date (ISO)')%>",
            number: "<%- i18n.__('Please enter a valid number')%>",
            digits: "<%- i18n.__('Please enter only digits')%>",
            creditcard: "<%- i18n.__('Please enter a valid credit card number')%>",
            equalTo: "<%- i18n.__('Please enter the same value again')%>",
            maxlength: $.validator.format( "<%- i18n.__('Please enter no more than {0} characters')%>" ),
            minlength: $.validator.format( "<%- i18n.__('Please enter at least {0} characters')%>" ),
            rangelength: $.validator.format( "<%- i18n.__('Please enter a value between {0} and {1} characters long')%>" ),
            range: $.validator.format( "<%- i18n.__('Please enter a value between {0} and {1}')%>" ),
            max: $.validator.format( "<%- i18n.__('Please enter a value less than or equal to {0}')%>" ),
            min: $.validator.format( "<%- i18n.__('Please enter a value greater than or equal to {0}')%>" )
        };

        $(".tablesorter").tablesorter({
            headers: {
                1: {sorter: false}, 3: {sorter: false}, 4: {sorter: false},
                5: {sorter: false}, 6: {sorter: false}
            }
        });

        $('.selecttype').on('hidden.bs.select', function (e) {
            var val = $(this).val();
            if (val == 'category') {
                $('.selectcategory').show();
                $('#ftpcode').hide().val($('.categorycode').selectpicker('val'));
            } else {
                $('#ftpcode').val('').show();
                $('.selectcategory').hide();
            }
        });


        $('.categorycode').on('hidden.bs.select', function (e) {
            var val = $(this).val();
            $('.ftpcode').val(val);
        });

        $(".form-validate-create").validate({
            errorPlacement: function(error, element)
            {
                error.insertAfter(element);
            },
            submitHandler:function(form){
                $('#btnCreate').hide();
                $('#processing').show();
                var $params = {
                    ftptype: $('.selecttype').selectpicker('val'),
                    ftpcode: $('input[name="ftpcode"]').val(),
                    ftphost: $('input[name="ftphost"]').val(),
                    ftpport: $('input[name="ftpport"]').val(),
                    ftpuser: $('input[name="ftpuser"]').val(),
                    ftppass: $('input[name="ftppass"]').val(),
                    _csrf: "<%= csrf %>"
                };
                $.ajax({
                    data: $params,
                    url: '/ftp/create',
                    method: 'POST',
                    cache: false,
                    timeout: 30000
                }).done(function(data) {
                    if (data.success){
                        location.reload();
                    } else {
                        alert(data);
                        $('#btnCreate').show();
                        $('#processing').hide();
                    }
                }).fail(function (xhr) {
                    if (xhr.status === 403) {
                        alert('403-Error!');
                    } else {
                        alert('ERROR: '+ xhr.responseText);
                    }
                    $('#btnCreate').show();
                    $('#processing').hide();
                });
            }
        });

        $.fn.editable.defaults.inputclass = 'form-control';
        $.fn.editable.defaults.url = '/ftp/update';
        $.fn.editable.defaults.mode = 'popup';

        $('.lstCode').editable({
            type: 'text',
            name: 'code',
            source: '[<% categoryList.forEach(function (pair) { %>{value: "<%=pair._id%>", text: "<%=pair.name%>"},<%});%>]',
            params: {
                _csrf: '<%= csrf %>'
            },
            validate: function(value) {
                if($.trim(value) == '') return '<%= i18n.__("This field is required")%>';
            },
            ajaxOptions: {
                timeout: 30000,
                dataType: 'json' //assuming json response
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                }
            },
            error: function(errors) {
                return errors.responseText;
            }
        });

        $('.lstCategory').editable({
            type: 'select',
            name: 'code',
            source: '[<% categoryList.forEach(function (pair) { %>{value: "<%=pair._id%>", text: "<%=pair.name%>"},<%});%>]',
            params: {
                _csrf: '<%= csrf %>'
            },
            validate: function(value) {
                if($.trim(value) == '') return '<%= i18n.__("This field is required")%>';
            },
            ajaxOptions: {
                timeout: 30000,
                dataType: 'json' //assuming json response
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                }
            },
            error: function(errors) {
                return errors.responseText;
            }
        });

        $('.lstHost').editable({
            type: 'text',
            name: 'host',
            params: {
                _csrf: '<%= csrf %>'
            },
            validate: function(value) {
                if($.trim(value) == '') return '<%= i18n.__("This field is required")%>';
            },
            ajaxOptions: {
                timeout: 30000,
                dataType: 'json' //assuming json response
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                }
            },
            error: function(errors) {
                return errors.responseText;
            }
        });

        $('.lstPort').editable({
            type: 'text',
            name: 'port',
            params: {
                _csrf: '<%= csrf %>'
            },
            validate: function(value) {
                if($.trim(value) == '') return '<%= i18n.__("This field is required")%>';
            },
            ajaxOptions: {
                timeout: 30000,
                dataType: 'json' //assuming json response
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                }
            },
            error: function(errors) {
                return errors.responseText;
            }
        });

        $('.lstUser').editable({
            type: 'text',
            name: 'user',
            params: {
                _csrf: '<%= csrf %>'
            },
            validate: function(value) {
                if($.trim(value) == '') return '<%= i18n.__("This field is required")%>';
            },
            ajaxOptions: {
                timeout: 30000,
                dataType: 'json' //assuming json response
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                }
            },
            error: function(errors) {
                return errors.responseText;
            }
        });

        $('.lstPass').editable({
            type: 'password',
            name: 'pass',
            params: {
                _csrf: '<%= csrf %>'
            },
            validate: function(value) {
                if($.trim(value) == '') return '<%= i18n.__("This field is required")%>';
            },
            ajaxOptions: {
                timeout: 30000,
                dataType: 'json' //assuming json response
            },
            success: function(response) {
                if (response.success) {
                    location.reload();
                }
            },
            error: function(errors) {
                return errors.responseText;
            }
        });

        $(".btnConnTest").click(function(e){
            var $params = {
                ftphost: $(this).attr('data-host'),
                ftpport: $(this).attr('data-port'),
                ftpuser: $(this).attr('data-user'),
                ftppass: $(this).attr('data-pass'),
                _csrf: '<%= csrf %>'
            };
            $.ajax({
                data: $params,
                url: '/ftp/test',
                method: 'POST',
                cache: false,
                timeout: 30000
            }).done(function(data) {
                if (data.success){
                    alert("<%= i18n.__('str ftp conn success')%>");
                } else {
                    alert(data);
                }
            }).fail(function (xhr) {
                if (xhr.status === 403) {
                    alert('403-Error!');
                } else {
                    alert('ERROR: '+ xhr.responseText);
                }
            });
        });

    });
</script>